extends layout
block content
    .container
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla velit quidem optio quibusdam sequi sint, placeat labore facilis perspiciatis, ipsum voluptatem iure fuga quis! Nostrum, atque, magni. Magni, id, voluptatem.
