extends layout
block content
    .container
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptatem maxime aliquid explicabo accusantium similique iusto enim animi delectus, culpa consequuntur, ex illo non voluptas veniam sunt vero asperiores eveniet.
