doctype
head
    title Chat
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css')
body
    .container
        h1 Chat
        hr
        ul
            li: a(href='home') 'Home'
            li: a(href='about') 'About'
            li: a(href='entry') 'Entry'
            li: a(href='reg') 'Reg'
        hr
block content
