doctype
head
    title Chat
    meta(charset='utf-8', name="viewport", content="width=device-width, initial-scale=1")
    block styles
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css')
        link(href='styles.css', rel='stylesheet')
body
    //div
    //h1 Chat
    //hr
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
        ul.navbar-nav
            li.nav-item: a.navbar-brand(href='http://unelma.ru'): img(src="actinidia.jpg", alt="Unelma", style="width:40px;")
            li.nav-item: a(class="nav-link #{selected=='home'?'active':''}", href='home') Главная
            li.nav-item: a(class="nav-link #{selected=='about'?'active':''}", href='about') О проекте
            li.nav-item: a(class="nav-link #{selected=='entry'?'active':''}", href='entry') Войти
            if !logged
                li.nav-item: a(class="nav-link #{selected=='reg'?'active':''}", href='reg') Регистрация
    //hr
    br
    block content
    block scripts
        //-script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
        //-script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js")
        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        //-script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js")
