extends header
block content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magnam iusto nesciunt modi autem quae voluptatem illo nisi aperiam, porro ex natus, sunt quos molestias dolorem voluptatum, quam vitae odit?
